//
//@text-color:            #fff;




//TIPOGRAFÍA
@font-family-sans-serif:  "Rock Salt", Helvetica, Arial, sans-serif;
@font-family-base:        @font-family-sans-serif;//General

@font-titulos:      "Shadows Into Light Two", Georgia, Times, serif;//cabecera
@font-family-serif:       "Paprika", Georgia, Times, serif;//parrafo


//COLORES DE FONDO
@body-bg:               #D5FCFF;
@panel-bg:                    ;




@carousel-control-color:                      #8A0808;




//Custom index.html

.page-header h2{
  font-family: @font-titulos;

}

.panel-body {
  font-family: @font-family-serif;
  
}
